*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    outline: 0;
    border:0;
    font-family: 'Montserrat';
}
$orng: rgb(214, 136, 34);
$preWhite: rgb(235, 235, 235);
.container{
    width: 1400px;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
.header{
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom, rgb(29, 28, 28) 95%, #fff );
    min-height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    &-logo{
        color: $preWhite;
        font-weight: bold;
        letter-spacing: 3px;
        margin-left: 30px;
        text-shadow: $orng 4px -1px 6px ;
        &_note{
            color: $orng;
            text-shadow: $orng 4px -1px 6px ;
        }
    }
    &-nav{
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        flex: 1 1;
        &_item {
            text-decoration: none;
            color: $preWhite;
            font-size: 15px;
            position: relative;
            font-weight: bold;
            padding: 5px;
            transition: .3s;
            text-shadow:0 0 50px rgb(206, 206, 206);
            &:hover{
                text-shadow:0 0 10px rgb(158, 158, 158);
            }
        }
    }
    .registr a{
        display: inline-block;
        border-radius: 15px;
        margin-right: 50px;
        transition: .3s;
        border: solid 1px $orng;
        padding: 8px 10px;
        text-decoration: none;
        color: #fff;
        &:hover{
            background-color: $orng;
        }
    }
    position: relative;
    background: linear-gradient(to bottom, rgb(29, 28, 28) 95%, #fff );
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-nav{
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }
    &-item {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        &._account{
            border-radius: 50%;
            background-color: #fff;
            width: 40px;
            box-shadow: 0px 0px 100px#fff;
            height: 40px;
            transition: .4s;
            font-size: 0;
            &:hover{
                box-shadow: 0px 0px 10px#fff;
            }
        }
    }
    .reg-box{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 15px;
        transition: .3s;
        border: solid 1px rgb(214, 136, 34);
        &:hover{
            background-color: rgb(214, 136, 34);
        }
    }
    .reg-btn{
        color: #fff;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
    }
}