* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  border: 0;
}

.info-body {
  padding-top: 150px;
}
.info-header {
  max-width: 800px;
  text-align: center;
  padding: 20px 0;
  background-color: #d68822;
  margin: 0 auto;
  border-radius: 15px;
}
.info-title {
  font-size: 30px;
  color: #ebebeb;
  max-width: 80%;
  margin: 0 auto;
}