.info-body {
  padding-top: 150px;
}
.info-header {
  max-width: 800px;
  text-align: center;
  padding: 20px 0;
  background-color: #d68822;
  margin: 0 auto;
  border-radius: 15px;
}
.info-title {
  font-size: 30px;
  color: #ebebeb;
  max-width: 80%;
  margin: 0 auto;
}